<%= form_for @group do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= "Instruments needed" %>
    <%= f.label :members do %>
      <%= text_field_tag 'members' %>
    <% end %>
  </p>

  <p>
    <%= "Vicinity" %>
    <%= f.label :vicinity do %>
      <%= number_field_tag 'vicinity' %>
    <% end %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
