<% @group = Group.find(params[:id]) %>
<h2><%= @group.name =%></h2>
<h3><%= @group.bio =%></h3>
<% @group.users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user_path(user) %></td>
      <td><%= user.email %></td>
    </tr>
<% end %>
<% if logged_in? %>
  <% if @group.users.include?(current_user) %>
    <%= link_to 'leave', leave_group_path(@group) %>
    <%= link_to 'Edit', edit_group_path(@group) %>
    <div>
      <% @group.messages.each do |m| %>
        <% flash[:danger] = current_user.id%>
        <%= @user = User.find_by_id(m.user_id).name %>

        <tr>
          <td><%= m.body %></td>
        </tr>
      </div>
    <% end %>
    <h2>Add a message:</h2>
      <%= form_for([@group, @group.messages.build]) do |f| %>

        <div class="field">
          <%= f.label :body %><br />
          <%= f.text_area :body %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
  <% else %>
    <%= link_to 'join', join_group_path(@group) %>
  <% end %>
<% end %>
<div>
  <%= link_to 'All groups', groups_path %>
</div>
