<br></br>
<section class = "group-profile">
  <h1><%= @group.name =%></h1>
    <i><font size="3">Group Bio</font></i>
    <p><%= @group.bio =%></p>
    <i><font size="3">Group members</font></i>
    <% @group.users.each do |user| %>
        <li>
          <tr>
            <td><%= link_to user.name, user_path(user) %></td> ||
            <td><%= user.email %></td>
          </tr>
        </li>
    <% end %>
  </section>
<% if logged_in? %>
  <% if @group.users.include?(current_user) %>
  <br></br>
      <section class="message-right">
    <i><font size="3">Messages</font></i>
        <%= render @group.messages %>
            <i><font size="3">Add a message:</font></i>
          <%= form_for([@group, @group.messages.build]) do |f| %>

            <div class="field">
              <%= f.label :body %><br />
              <%= f.text_area :body %>
            </div>
            <div class="actions">
              <%= f.submit %>
            </div>
          <% end %>
      </section>
      <br></br>
      <section class = "group-profile">
          <%= link_to 'leave', leave_group_path(@group) %> ||
          <%= link_to 'edit', edit_group_path(@group) %>
        </section>
  <% else %>
  <section class = "group-profile">
    <br></br>
    <%= link_to 'join group', join_group_path(@group) %>
  </section>
  <% end %>
<% end %>
