<br></br>

<%= form_for @posting do |f| %>

  <% if @posting.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@posting.errors.count, "error") %> prohibited
        this posting from being saved:
      </h2>
      <ul>
        <% @posting.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>
  <br></br>

  <p>
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </p>
  <br></br>

  <p>
    <b> <%= "Ensemble Type" %></b> <div></div>
    <%= f.label :ensemble do %>
      <%= f.text_field :ensemble%>
    <% end %>
  </p>
  <br></br>

  <p>
    <%= f.submit %>
  </p>

<% end %>
