<h1>Listing postings</h1>

<%= link_to 'New posting', new_posting_path %>
<table>
  <tr>
    <th>Location</th>
    <th>Expertise</th>
    <th>Commitment</th>
    <th>Ensemble</th>
  </tr>

  <% @postings.each do |posting| %>
    <tr>
      <td><%= posting.location %></td>
      <td><%= posting.expertise %></td>
      <td><%= posting.commitment %></td>
      <td><%= posting.ensemble %></td>
      <td><%= link_to 'Show', posting_path(posting) %></td>
      <td><%= link_to 'Edit', edit_posting_path(posting) %></td>
      <td><%= link_to 'Destroy', posting_path(posting),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
