<p>
  <strong>Author:</strong>
  <%= User.find_by_id(@posting.user_id).name %>
</p>
<p>
  <strong>Location:</strong>
  <%= @posting.location %>
</p>

<p>
  <strong>Expertise:</strong>
  <%= @posting.expertise %>
</p>

<p>
  <strong>Commitment:</strong>
  <%= @posting.commitment %>
</p>

<p>
  <strong>Ensemble:</strong>
  <%= @posting.ensemble %>
</p>

<h3>Nearby postings</h3>
<ul>
<% for posting in @posting.nearbys(10) %>
  <li><%= link_to posting.location, posting %> (<%= posting.distance.round(2) %> miles)</li>
<% end %>
</ul>

<% if User.find_by_id(@posting.user_id) == current_user %>
  <%= link_to 'Edit', edit_posting_path(@posting) %> |
<% end %>
<%= link_to 'All postings', postings_path %>
