<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Raleway|Cabin' rel='stylesheet' type='text/css'>
    <title>EnsembleMe</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <h1>EnsembleMe</h1>
        </a>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="#">Home</a></li>
          <li><a href="#">Sign in</a></li> -->
          <% if logged_in? %>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li><%= link_to "New Posting", new_posting_path %></li>
            <li><%= link_to "New Group", new_group_path %></li>
            <li>
              <%= link_to "Log out", logout_path, method: "delete" %>
            </li>
          <% else %>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
